body {
    font-family: Bahnschrift
}

.div1 {
    width: 50%;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.div2 {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;

}
.div2 #lis {
    float: left;
    margin-top: 30px;
}
.div2 #acc {
    float: right;
    margin-top: 30px;
}
.imgvaliderpatient {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 15);
}






